<header>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/pastor_aleman">Pastor aleman</a></li>
            <li><a href="/chihuahua">Chihuahua</a></li>
        </ul>
        
    </nav>
</header>