<header>
    <nav>
        <ul>
            <a href="">Inicio</a>
        </ul>
        <ul>
            <li><a href="/pastor_aleman">Pastor aleman</a></li>
        </ul>
        <ul>
            <li><a href="/chihuahua">Chihuahua</a></li>
        </ul>
    </nav>
</header>