<!DOCTYPE html>
<html lang="en">
<head>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}}</title>
</head>
<body>
    {{>menu}}
    <div class="container">
    <h1>{{animal}}</h1>
    <hr>
    <dir>
    <p>
        <strong>Los chihuahuas son los perros más pequeños del mundo.</strong>
        Pesan entre 1 y 3 kg y tienen una altura de tan solo 15 cm. Los chihuahuas tienen el cráneo abombado y algunos tienen una zona blanda en la parte superior de la cabeza en la que no se han unido los huesos, hendidura que se conoce como mollera. Tienen unas grandes orejas erguidas y hocico corto y afilado. Sus ojos son redondos y grandes. Estos perros son ligeramente más largos que altos y tienen una cola bastante larga que llevan levantada sobre la espalda.
        Existen dos tipos de pelo: uno es lacio y corto y el otro largo y suave con flecos en orejas y patas. El pelo se presenta en casi cualquier color y patrón.
        Los chihuahuas se consideran longevos, con una esperanza de vida media de hasta unos 14 años.
    </p>
     <img src="images/chiguagua1.jpg" alt=""><br>
    </dir>
    <div>
        <h2>Historia</h2>
        <hr>
        <p>
            A pesar de que se desconoce su origen, este perro lleva el nombre del Estado mexicano de 
            Chihuahua, donde se descubrió alrededor del año 1850. Algunos expertos creen que fueron los
             aztecas o los incas quienes desarrollaron este perro; otros opinan que la raza puede ser 
             descendiente de perros españoles de nada menos que el siglo XVI. También hay quien cree que 
             los indios centroamericanos quizá utilizaban a los chihuahuas como alimento, mientras otros 
             opinan que tenían un importante significado religioso. Los primeros chihuahuas podrían
              haberse introducido en los Estados Unidos a principios del siglo XIX. La presentación del 
              chihuahua al público se ha producido de formas poco habituales. La cantante de ópera Adelina 
              Patti dio a conocer la raza en 1890 cuando le dieron un chihuahua oculto en un ramo que le 
              regaló el presidente de México. En la década de 1940, el director de orquesta Xavier Cugat 
              era conocido por dirigir con un chihuahua bajo el brazo. Recientemente ha aumentado el 
              reconocimiento y aprecio de esta raza gracias al elegante chihuahua que aparece en los 
              anuncios del restaurante Taco Bell.
        </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/uFKY1PoW7EU?si=hEnZr7EuukL5xtvS" 
            title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
        </iframe>
    </div>
    </div>
    {{>footer}}
</body>
</html>