<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous">
        <title>{{titulo}}</title>
    </head>
    <body>
        {{>menu}}
        <div class="container">
        <h1>{{animal}}</h1>
        <hr>
        <div>
            <div>
                <p>
                    Los Pastores alemanes son una de las razas más reconocibles
                    del mundo.
                    Tienen un aspecto musculoso y atento y una actitud noble y
                    distante.
                    Son perros ágiles y bien equilibrados de porte orgulloso. Su
                    pelaje puede
                    presentar varios colores y
                    están formados por un manto superior duro, áspero y lacio, y
                    un manto
                    inferior grueso. La altura ideal del macho adulto es de 63
                    cm y la de la
                    hembra, 58 cm. El peso puede estar entre 30 y 36 kg.
                </p>
            </div>

            <div>
                <img class="img1" src="images/pastor1.png" alt><br>
            </div>  
        </div>
        <hr>
        <div>
            <div>
                <h2>Personalidad</h2>
                <p>El pastor alemán desarrollará un vínculo muy estrecho con su amo y 
                    querrá pasar con él o ella el mayor tiempo posible. Aunque esta raza 
                    necesita mucha atención, lo dará todo con su lealtad y su actitud de guardián 
                    fiel e incorruptible. Por otra parte, si no dedicas tiempo a socializarlo y a 
                    entrenarlo, el pastor alemán tendrá problemas de seguridad en sí mismo y de 
                    indisciplina. Le encanta aprender y presta mucha atención al adiestramiento; 
                    de hecho, demostrará ser un alumno aventajado durante las sesiones.
                    </p>
            </div>

            <div>
                <iframe width="560" height="315" 
                    src="https://www.youtube.com/embed/CcwceR_QdPg?si=c9wsGWjxtMlt5MwR" 
                    title="YouTube video player" frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                    allowfullscreen>
                </iframe>
            </div>
        </div>
        </div>
        {{>footer}}
    </body>
</html>